@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.mfooter {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: space-between;
}

.footer_about {
    display: flex;
    width: 25%;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.footer_about-title {
    font-size: 14px;
    color: #656566;
    margin-bottom: 15px;
    font-weight: bolder;
    vertical-align: middle;
}

.footer_about-item {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    > img {
        margin: 0 5px;
    }
}
.align-text-left {
    text-align: end;
}

.footer_mainmenu {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.footer_menu {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.footer_contacts {
    display: flex;
    width: 25%;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.footer_about-rights {
    color: white;
    text-decoration-line: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: end;
    margin: 50px 0;
}

@media (max-width: 800px) {
    .mfooter {
        background-color: #0E1014;
        flex-direction: column;
    }
    .footer_about {
        width: 100%;
        margin: 0 0 20px 5%;
    }
    .footer_mainmenu {
        width: 90%;
        margin: 0 0 20px 5%;
    }
    .footer_contacts {
        width: 90%;
        margin: 0 0 20px 5%;
    }
    .align-text-left {
        text-align: unset;
    }
    .footer_about-rights {
        text-align: unset;
    }
}